/* grid.css; defining grids for my site */

[class*='col-']{
	float: left;
	padding: 0;
	text-align:center;
}

.col-1of2 {
	width: 50%;

}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 800px){
	.col-1of2 {
		width: 100%;
	}
}

.col-1of3 {
	width: 33.33%;
}

@media (max-width: 480px){
	.col-1of3 {
		width: 100%;
	}

}