body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino , serif; 
	color: black;
	background-color:#FCFBF2;
}

h1 {
	font-size: 3rem;
	font-family:"Noteworthy";
	color: #D13B49;
	font: bold;
	text-align:left;
}

p
{
	font-family:"Noteworthy";
	font-size: 1rem;
	color: #D13B49;

}



h2{
	font-size: 2.6rem;
}

h3{
	font-size: 2.2rem;
}

h4{
	font-size: 1.8rem;
}

h5{
	font-size: 1.4rem;
	
}
.button {
    display: block;
    height: 50px;
    width: 100px;
    color: #D13B49;
    text-align: center;
    background-color: yellow;
}
.footer {
    position:absolute;
    bottom:1rem;
    width: 100%;
    background-color: red;
    height: 5rem;
}
.header {
    position:absolute;
    top:1rem;
    width: 100%;
    background-color: red;
    height: 7rem;
}
nav a:link{
	display: inline-block;
	background-color: #A6C771;
	color: white;
	padding: 1rem 1.25rem;
	text-decoration: none;
}
nav a:visited {
	display: inline-block;
	background-color: #A6C771;
	color: white;
	padding: 1rem 1.25rem;
	text-decoration: none;
}
nav a:hover {
	display: inline-block;
	background-color: blue;
	color: #A6C771;
	padding: 1rem 1.25rem;
	text-decoration: none;
}
nav a:active {
	display: inline-block;
	background-color: blue;
	color: #A6C771;
	padding: 1rem 1.25rem;
	text-decoration: none;
}


/*
a:link {color:#D13B49;}      
a:visited {color:#F9B372;}  
a:hover {color:#A6C771;}  
a:active {color:#A6C771;} 
*/
red #D13B49
yellow #FFE24A
orange #A6C771
green #A6C771
purple #C099BA
white