
body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino , serif; 
	color: black;
	background-color:#FCFBF2;
	text-indent: 5rem;
}

h1 {
	font-size: 3rem;
	font-family:"Noteworthy";
	color: black;
	font: bold;
	text-align:left;
}

p{
	font-family:"Noteworthy";
	font-size: 1rem;
	color: black;

}

h2{
	font-size: 1.8rem;
	font-family:"Noteworthy";
	color: #D13B49;
	font: bold;
	text-align:left;
}

h3{
	font-size: 1.8rem;
	font-family:"Noteworthy";
	color: #D13B49;
	text-align:left;
}

h4{
	font-size: 1.8rem;
	font-family:"Noteworthy";
	color: #D13B49;
	text-align:left;
}

h5{
	font-size: 1.8rem;
	font-family:"Noteworthy";
	color: #D13B49;
	text-align:left;
}

.text {
    width: 100%;
    color: #D13B49;
    text-align: left;
    background-color: #A6C771;
    border-color: #D13B49;
    border-style: double;
    margin-top: 2rem;
}

.button {
    display: block;
    height: 50px;
    color: #D13B49;
    text-align: center;
    margin: 1rem;
}

.footer {
    position: fixed;
    color: white;
    bottom:1rem;
    width: 100%;
    background-color: #9e4a0b;
    height: 5rem;
}

.header {
    position: fixed;
    color: white;
    top:1rem;
    width: 100%;
    background-color: #9e4a0b;
    height: 7rem;
}

nav {
	margin: 1rem;
}

nav a:link{
	display: inline-block;
	background-color: white;
	color: black;
	padding: 1rem 1.25rem;
	text-decoration: none;
}
nav a:visited {
	display: inline-block;
	background-color: white;
	color: black;
	padding: 1rem 1.25rem;
	text-decoration: none;
}
nav a:hover {
	display: inline-block;
	background-color: #c475ac;
	color: black;
	padding: 1rem 1.25rem;
	text-decoration: none;
}
nav a:active {
	display: inline-block;
	background-color: gray;
	color: black;
	padding: 1rem 1.25rem;
	text-decoration: none;
}

a:link {color:#D13B49;}      /* unvisited link */
a:visited {color:#F9B372;}  /* visited link */
a:hover {color:#A6C771;}  /* mouse over link */
a:active {color:#A6C771;}  /* selected link */ 


/*
color palattes

red #D13B49
yellow #FFE24A
orange #A6C771
green #A6C771
purple #C099BA
white
*/


