body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino , serif; 
	color: black;
}

h1 {
	font-size: 2.5rem;
}

h2{

}

h3{

}

h4{

}

h5{
	
}
.button {
    display: block;
    height: 100px;
    width: 300px;
    color: #774a27
    text-align: center;
}